body {
    background-color: aquamarine;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h1 {
    color: rgb(0, 0, 0);
}
h4 {
    color: rgb(78, 126, 110);
}